/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  display: none;
}

p {
  font-size: 1rem;
}

ul {
  margin: 1.5rem;
  margin-bottom: 2rem;

  line-height: 1.75rem;
}

/* ========== VARIABLES ========== */
:root {
  /* Fonts */
  --font: 'Montserrat', sans-serif;

  /* Colors */
  --orange: hsl(14, 85%, 59%);
  --grey: hsl(230, 33%, 96%);
  --black: hsl(240, 3%, 19%);
  --purple: hsl(237, 36%, 46%);
  --placeholder: hsla(240, 3%, 19%, 0.5);
}

/* ========== BASE ========== */
html {
  color: var(--black);
}

body {
  font-family: var(--font);
}

section {
  padding: 5rem 0;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.title {
  font-weight: 900;

  line-height: 2.625rem;

  margin-bottom: 1rem;
}

.subtitle {
  font-weight: bold;

  line-height: 1.75rem;
}

.button {
  background-color: var(--purple);

  font-weight: bold;
  color: white;
  text-transform: uppercase;

  height: 3.5rem;

  display: inline-flex; /* permite configurar height sem ocupar a largura inteira da div e alinhar o texto com align-items */
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.5rem;
}

/* ========== HEADER ========== */
header {
  height: 4.5rem;
  padding: 1.5rem 0;
  padding-left: 1.5rem;

  background: white;

  width: 100vw;

  position: fixed;
  top: 0;
  z-index: 100;
}

/* ========== HEADLINE ========== */
#headline {
  margin-top: 5rem;
  background: white;
}

#headline img {
  display: none;
}

#headline .title {
  color: var(--orange);
}

#headline span {
  font-weight: 900;
}

/* ========== FORM ========== */
#form {
  background-color: var(--orange);
}

#form .title,
#form .subtitle,
#form ul {
  color: white;
}

#form .subtitle {
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
}

.form label {
  line-height: 1.5rem;
}

.form ::placeholder {
  color: var(--black);
  opacity: 1;
}

.form input,
.form select {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  height: 3.125rem;

  border: none;
  border-radius: 0.5rem;

  opacity: 0.85;

  color: var(--black);
  font-family: var(--font);
  font-weight: bold;
}

.form input:hover,
.form select:hover {
  opacity: 1;
  transition: 0.2s;
}

.form #station {
  margin-bottom: 2rem;
}

.form option {
  color: var(--black);
  font-weight: bold;
}

.form #submit {
  opacity: 1;

  color: white;
  font-size: 1rem;

  height: 3.5rem;

  padding: 0 2rem;
  margin: 0 auto;

  cursor: pointer;
}

/* ========== TESTIMONIAL ========== */
#testimonial {
  background-color: var(--grey);
}

#testimonial .user {
  display: none;
}

#testimonial blockquote {
  margin-bottom: 0;
}

#testimonial p {
  margin-bottom: 1.625rem;

  font-weight: 900;
  line-height: 1.25rem;
}

#testimonial cite {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 500;
  line-height: 1.75rem;
}

#testimonial cite img {
  height: 3.5rem;
  clip-path: circle();
  object-fit: cover;
}

/* ========== ADDRESSES ========== */
#address {
  background-color: var(--purple);
  text-align: center;
}

#address .title,
#address .subtitle {
  color: white;
}

#address .subtitle {
  font-weight: normal;

  margin-top: 1.625rem;
}

#address span {
  font-size: 1.125rem;
  font-weight: bold;
}

/* ========== FOOTER ========== */
footer {
  padding: 5rem 0;

  text-align: center;

  background-color: var(--black);
}

footer .social {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;

  padding-bottom: 1.25rem;
}

footer .copyright {
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* ========== MEDIA QUERIES ========== */
/* Tablets >=768px */
@media screen and (min-width: 768px) {
  .container {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }

  header {
    padding-left: 3.125rem;
  }

  #headline .container {
    grid-auto-flow: column;
    gap: 3.125rem;
    align-items: center;
  }

  #headline img {
    display: grid;

    width: 16.5rem;
  }

  cite img {
    display: none;
  }

  #testimonial .container {
    grid-auto-flow: column;
    gap: 3.125rem;
    align-items: center;
  }

  #testimonial .user {
    display: grid;
    width: 11.125rem;

    clip-path: circle();
    object-fit: cover;
  }

  #testimonial p,
  cite {
    font-size: 1.125rem;
  }
}

/* Desktop >= 1440px */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.125rem;
  }

  .container {
    margin-left: 5.75rem;
    margin-right: 5.75rem;
  }

  header {
    padding-left: 5.75rem;
  }

  #headline .container,
  #form .container,
  #testimonial .container {
    gap: 7.5rem;
  }

  #headline img {
    width: 25rem;
    justify-content: right;
  }

  #form .container {
    grid-template-columns: 1fr 1fr;
  }

  #testimonial .container {
    margin-left: 11.5rem;
    margin-right: 11.5rem;
  }

  #testimonial p {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  #address .container {
    grid-auto-flow: column;

    text-align: start;
  }

  #address h2 {
    display: grid;
    color: white;
    font-size: 1.125rem;
    font-weight: 800;
  }

  footer {
    text-align: start;
  }

  footer .social {
    justify-content: flex-start;
  }
}
